.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
}

.dashboard-main-content {
    margin-left: 300px;
    padding: 2rem;
    padding-top: 80px;
    /* 60px header + 20px buffer */
    width: calc(100% - 300px);
    background-color: #ffffff;
    height: 100vh;
    overflow-y: auto;
    /* Enable internal scrolling */
}